@model complaint_tr.Models.Complaint

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Complaint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Complaints/Create" method="Post">
            <input name="province" type="text" class="form-control" />
            <input name="district" type="text" class="form-control" />
            <input name="neighbourhood" type="text" class="form-control" />
            <input name="second_line" type="text" class="form-control" />
            <input name="longitude" type="text" class="form-control" />
            <input name="latitude" type="text" class="form-control" />
            <input name="type" type="text" class="form-control" />
            <input type="submit" value="submit" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{Html.AntiForgeryToken();}
}
