    <section class="section" id="about">
        <div class="container">

            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h6 class="xs-font mb-0">Biz Kimiz</h6>
                    <h3 class="section-title">Hakkımızda</h3>
                    <p>Atilla Bora Semerci, Denizhan Toprak, Mehmet Yıldırım. Sitenin kurucuları yöneticileri presidınt prezidentleri</p>

                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-calendar"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Ücretsiz Sınırsız Şikayet Hakkı </h4>
                            <p>Her Zaman Böyle Kalacak!</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-face-smile"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Şikayetleri İlet</h4>
                            <p>Haritadan Şikayetleri İncele!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Şikayetleri Gör</h4>
                            <p>Haritadan Şikayetlerin İçeriğini İncele!</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-user"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Kullanıcı Memnuniyeti</h4>
                            <p>Kuallanıcılar Sorun Çözümlerinde Pay Sahibi!</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

    <section id="contact" class="section pb-0">
            <footer class="footer mt-5 border-top">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center text-md-left">
                        <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a>ABS,DT,MY</a></p>
                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div> 
            </footer>
        </div>
    </section>
